.header {
    background-image: url(../img/breadcrumb_bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 11;
    overflow: hidden;
    height: 617px;
}

.header::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 146px;
    background: #000000;
    background: -webkit-linear-gradient(to bottom, #000000, transparent);
    background: linear-gradient(to bottom, #000000, transparent);
    opacity: .66;
    z-index: -1;
}


.header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #04081a;
    background: -webkit-linear-gradient(to right, #04081a, transparent);
    background: linear-gradient(to right, #04081a, transparent);
    opacity: .66;
    z-index: -11;
}


.breadcrumb-content {
    padding-top: 160px;
}


.title-6 {
    font-size: 60px;
    line-height: 1.3;
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin-top: 0px;
    font-style: normal;
    font-weight: 700;
}

.yellow {
    color: #e4d804;
}

.pricing-area {
    background-image: url(../img/pricing_bg.jpg);
    background-position: top center;
    background-size: cover;
    padding: 120px 0 90px;
    height: 960px;
}

.pricing-area .container {
    max-width: 1330px;
}

.pricing-area .container .row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.pricing-area .container .row .col-lg-8 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.section-title {
    padding-bottom: 30px;
    position: relative;
    margin-bottom: 70px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: #bcbcbc;
}

.section-title::before {
    content: "";
    position: absolute;
    left: 379px;
    bottom: -58px;
    background-image: url(../img/title_shape.png);
    width: 98px;
    height: 7px;
}


.sub-title-4 {
    display: block;
    line-height: 1;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    margin-bottom: 12px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #bcbcbc;
}

.title-7 {
    margin-bottom: 0;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin-top: 0px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
}

.pricing-box-wrap {
    padding: 0 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: #bcbcbc;
}


.pricing-box-wrap .row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 80px;
}

.column-price {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.pricing-box-item {
    box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.14);
    background: #1f1e24;
    border: 2px solid #1f1e24;
    padding: 45px 40px 60px;
    transition: .3s linear;
    margin-bottom: 30px;
}

.pricing-top {
    text-align: center;
    margin-bottom: 45px;
}


.pricing-top .price {
    border-radius: 4px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.14),inset 0px 3px 7px 0px rgba(0, 0, 0, 0.31);
    max-width: 138px;
    background: #e4d804;
    padding: 30px 25px;
    margin: 22px auto 0;
    color: black;
    font-weight: bolder;
}


ul {
    margin: 0px;
    padding: 0px;
}

.pricing-list ul li {
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid #414146;
    font-size: 12px;
    color: #fff;
    display: block;
}

.pricing-list ul li.quality span {
    color: #e4d804;
}

.pricing-list ul li span {
    float: right;
    padding-right: 5px;
}

.pricing-list ul li i {
    margin-right: 10px;
}

.pricing-btn {
    text-align: center;
    margin-top: 40px;
}

.pricing-btn .btn {
    text-transform: capitalize;
    letter-spacing: 0;
    padding: 12px 32px;
    background: #20212b;
    border: 2px solid #e4d804;
    border-radius: 50px;
    color: #e3dfdf;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
}

.pricing-btn .btn:hover {
    background: #e4d804;
    color: black;
}




.contact-area {
    background-image: url(../img/contact_bg.jpg);
    background-position: top center;
    background-size: cover;
    padding: 120px 0;
    height: 900px;
}


.contact-area .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.contact-area .container .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.widget-title {
    margin-bottom: 50px;
}

.widget-title .tite {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 18px;
    color: white;
}

.contact-form {
    padding: 30px 30px 40px;
    border: 1px solid #232226;
}

form {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: #bcbcbc;
}

.contact-form form .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.contact-form form .row .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}


.contact-form input {
    width: 100%;
    border: 1px solid #1f1e24;
    background: #1f1e24;
    border-radius: 4px;
    color: #bcbcbc !important;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.46);
    font-weight: 500;
    padding: 14px 25px;
    margin-bottom: 30px;
    transition: .3s linear;
}


.contact-form textarea {
    width: 100%;
    border: 1px solid #1f1e24;
    background: #1f1e24;
    border-radius: 4px;
    color: #bcbcbc;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.46);
    font-weight: 500;
    padding: 14px 25px;
    margin-bottom: 30px;
    transition: .3s linear;
    min-height: 155px;
}


/* .btn {
    background: #12151e none repeat scroll 0 0;
    border: 2px solid #e4d804;
    border-radius: 50px;
    color: #e3dfdf;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 16px 34px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
    max-width: 200px;
} */


.contact-info-wrap {
    background: #1f1e24;
    padding: 40px 34px 60px;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.46);
}


.contact-info-wrap p {
    padding-bottom: 25px;
    margin-bottom: 30px;
    border-bottom: 1px solid #313035;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color: #bcbcbc;
}


.contact-info-wrap > p span {
    font-weight: 600;
    color: #fafafa;
}

.contact-info-list ul li {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #313035;
}

.contact-info-list .icon {
    width: 46px;
    height: 46px;
    flex: 0 0 46px;
    text-align: center;
    font-size: 16px;
    color: #1f1e24;
    background: #e4d804;
    line-height: 46px;
    border-radius: 50%;
    margin-right: 15px;
}


.contact-info-list li > p span {
    color: #e5e5e5;
    margin-right: 5px;
    font-weight: 600;
}



#map {
    background-image: url(../img/map.jpg);
    min-height: 439px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}